version: "3.1"

services:
  db:
    image: mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: pairingsbotdb
      MYSQL_USER: user
      MYSQL_PASSWORD: pass

    restart: always
    volumes:
     - "./.data/db:/var/lib/mysql"
     # - mysql:/var/lib/mysql
     - ./Python/MySQLScripts/:/docker-entrypoint-initdb.d
    ports:
      - 42333:3306

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080

  main:
    build: .
    stdin_open: true
    tty: true
    depends_on:
      - db
      - adminer
    volumes:
      - .:/code

volumes:
  mysql:
